@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #364057;
  --white: #ffffff;
  --black:#000000;
  --cyan: #626262;
  --alt:#626262;
  --secondary:#E94D4E;
  --alt-light:#536184;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #364057;
    --white: #ffffff;
    --black:#000000;
    --cyan: #626262;
    --alt:#626262;
    --secondary:#E94D4E;
    --alt-light:#536184;
  }
}

body {
  color: var(--white);
  background: #dddddd;
  font-family:var(--font-geist-sans),  Arial, Helvetica, sans-serif;
}

@layer utilities {
  .normal-flex-row-container{
    @apply flex items-center gap-2;
  }
  .text-balance {
    text-wrap: balance;
  }
  .text-heading{
    @apply text-7xl font-semibold;
  }
  .text-alt-heading{
    @apply text-5xl font-semibold;
  }
  .text-title{
    @apply text-2xl font-semibold;
  }
  .text-alt-title{
    @apply text-xl font-medium;
  }
  .text-label{
    @apply text-lg font-semibold;
  }
  .text-desc{
    @apply text-base font-medium;
  }
  .text-body{
    @apply text-sm font-normal
  }

  .border-shadow {
    @apply border-2 border-white drop-shadow-lg;
  }
}
