@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #364057;
  --white: #ffffff;
  --black:#000000;
  --cyan: #626262;
  --alt:#626262;
  --secondary:#E94D4E;
  --warning: #FFC107;
  --alt-light:#536184;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #364057;
    --white: #ffffff;
    --black:#000000;
    --cyan: #626262;
    --alt:#626262;
    --secondary:#E94D4E;
    --warning: #FFC107;
    --alt-light:#536184;
  }
}

body {
  color: var(--white);
  background: #dddddd;
  font-family:var(--font-geist-sans),  Arial, Helvetica, sans-serif;
}

body.rtl {
  font-family: var(--font-iransans), Tahoma, Helvetica, sans-serif;
}

.hidden-scroll {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.hidden-scroll::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@layer utilities {
  .content-detail-body {
    @apply grid gap-2 w-full items-center;

    & > h3 {
      @apply text-2xl font-semibold;
    }

    & > article {
      @apply w-full;
    }
  }
  .template {
    @apply grid w-full place-items-center gap-4 max-w-5xl mx-auto p-4 z-20;

    & > h2 {
      @apply text-center text-2xl font-bold text-black;
    }

    &:not(.hero):nth-of-type(odd) {
      @apply bg-[rgba(31,41,55,0.5)];

      & > h2 {
        @apply text-white;
      }
    }

    &:nth-of-type(even) {
      @apply bg-[rgba(255,255,255,0.5)];
    }
  }
  .footer {
    @apply relative z-20 grid justify-start w-full gap-1;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

    & > section {
      @apply h-fit border-b-2 border-dotted border-white py-2;
    }
  }

  .text-border-white {
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff
  }

  @media screen and (min-width: 744px) {
    .template {
      @apply p-8;

      & > h2 {
        @apply text-4xl;
      }

      & > .show-more-button {
        @apply w-[260px] h-[230px] pb-[52px];

        & > span {
          @apply text-[1.4rem];
        }
      }
    }

    .footer {
      @apply gap-6;

      & > section {
        @apply p-2;
      }

      & .socials {
        & > .link-icon {
          @apply text-[4rem];
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .template {
      & > h2 {
        @apply text-[1.9rem];
      }

      & > .show-more-button {
        @apply w-[300px] h-[260px] pb-[60px];

        & > span {
          @apply text-[1.8rem];
        }
      }
    }

    .footer {
      @apply gap-8;
    }

    .footer > .socials > .link-icon {
      @apply text-6xl;
    }
  }

  .carousel-container {
    @apply hidden-scroll flex max-w-5xl items-stretch gap-3 overflow-x-auto;
  }

  .page-default-container {
    @apply relative grid h-full max-h-screen w-full place-items-start overflow-y-auto;
  }

  .grid-col-2-gap-4 {
    @apply grid grid-cols-2 gap-4;
  }

  .grid-col-2-gap-6 {
    @apply grid grid-cols-2 gap-6;
  }
  .row-container{
    @apply flex items-center gap-2;
  }
  .text-balance {
    text-wrap: balance;
  }
  .text-heading{
    @apply text-7xl font-semibold;
  }
  .text-alt-heading{
    @apply text-5xl font-semibold;
  }
  .text-title{
    @apply text-2xl font-semibold;
  }
  .text-alt-title{
    @apply text-xl font-medium;
  }
  .text-label{
    @apply text-lg font-semibold;
  }
  .text-desc{
    @apply text-base font-medium;
  }
  .text-body{
    @apply text-sm font-normal
  }

  .border-shadow {
    @apply border-2 border-white drop-shadow-lg;
  }
}
