/* General calendar styles */
.rbc-calendar {
    border: 1px solid var(--alt-light); /* Add border to the calendar */
    border-radius: 8px;
    background-color: var(--primary);
    padding: 0.5rem;
}

/* Header (days of the week) styles */
.rbc-header {
    color: var(--secondary); /* Text color */
    font-weight: 600; /* Bold font */
    text-transform: uppercase;
    border-bottom: 1px solid var(--white); /* Bottom border */
    padding: 0.5rem;
    background-color: var(--primary); /* Light background */
}

/* Highlighting weekend days */
.rbc-day-bg:nth-child(7),
.rbc-day-bg:nth-child(1) {
    background-color: var(--alt-light); /* Light gray background for weekends */
}

.rbc-off-range-bg {
    background-color: var(--alt) !important;
}

/* Event styles */
.rbc-event {
    background-color: var(--warning) !important; /* Teal event background */
    color: var(--black-light) !important; /* Event text color (white) */
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 0.875rem; /* Small text size */
}

.rbc-event-label {
    font-weight: bold; /* Bold text for event label */
}

/* Today highlight */
.rbc-day-bg.rbc-today {
    background-color: var(--alt-light); /* Light blue background */
    color: var(--white);
}

.rbc-today {
    background-color: var(--alt-light); /* Light blue background */
    color: var(--white);
}

.rbc-overflowing {
    margin-right: 0 !important;
}

.rbc-day-slot .rbc-events-container {
    background-color: unset;
}
/* Navigation buttons */
.rbc-toolbar button {
    background-color: var(--primary); /* Dark grey button background */
    color: var(--white); /* White button text */
    border: none; /* Remove border */
    padding: 0.5rem 1rem;
    margin: 0 5px;
    border-radius: 4px; /* Rounded corners */
    font-size: 0.875rem;
    cursor: pointer;
}

.rbc-toolbar button.rbc-active {
    color: var(--primary);
}

.rbc-toolbar button:hover {
    background-color: var(--secondary); /* Slightly lighter grey on hover */
}

/* Navigation toolbar text (view names, date range) */
.rbc-toolbar-label {
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--white); /* Darker text */
}

/* Month View Styling */
.rbc-month-view {
    border-top: 1px solid var(--white);
}

.rbc-current-time-indicator {
    border-color: var(--white); /* Current time indicator color (teal) */
}