.template {
    display: grid;
    width: 100%;
    place-items: center;
    gap: 16px;
    max-width: 64rem;
    margin: 0 auto;
    padding: 32px 16px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 20;

    h2 {
        text-align: center;
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--black);
    }

}

.template:not(.hero):nth-of-type(odd) {
    background: rgb(64, 72, 93, 0.5);
}

.template:nth-of-type(even) {
    background: rgba(255, 255, 255, 0.5);
}

.hero {
    background-color: var(--primary);
}

.services {
    & > .service-card-container {
        width: 100%;

        & > .service-card {
            width: 100%;

            & > .link-button {
                width: 100%;
                max-width: none;
                text-align: center;
            }
        }
    }
}

.blogs {
    & > .blog-card-container {
        width: 100%;

        & > .knowledge-card {
            width: 100%;
        }
    }
}

.events {
    & > .event-cards-container {
        width: 100%;

        & > .event-card {
            width: 100%;
        }
    }
}

.links {
    & > .link-cards-container {
        width: 100%;
    }
}

.contact {
    h2 {
        white-space: pre-line;
    }

    h4 {
        font-size: 1.2rem;
        font-weight: normal;
        color: var(--secondary);
    }
}

footer {
    position: relative;
}

.footer {
    position: relative;
    z-index: 20;
    display: grid;
    justify-content: start;
    row-gap: 4px;

    & > section {
        height: fit-content;
        border-bottom: 2px dotted var(--white);
        padding: 8px 0;
    }
}


@media screen and (min-width: 744px) {
    .template {
        padding: 32px;

        & > h2 {
            font-size: 1.6rem;
        }

        & > .show-more-button {
            width: 260px;
            height: 230px;
            padding-bottom: 52px;

            & > span {
                font-size: 1.4rem;
            }
        }
    }


    .blogs {
        & > .blog-card-container {
            & > .knowledge-card {
                & > .info-part {
                    align-items: start;
                }

                & > img {
                    max-height: 400px;
                }
            }
        }
    }

    .events {
        & > .event-cards-container {
            & > .event-card {
                height: 420px;

                & > .info-part {
                    font-size: 1.5rem;

                    & > .link-button {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .links {
        & > .link-cards-container {
            & > .external-link {
                height: 300px;
            }
        }
    }

    .contact {
        & > .contact-form {
            width: 100%;
            font-size: 1.7rem;
        }
    }

    .footer {
        row-gap: 24px;

        & > section {
            padding: 8px;
        }

        & > .socials {
            & .link-icon {
                font-size: 4rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .template {
        & > h2 {
            font-size: 1.9rem;
        }

        & > .show-more-button {
            width: 300px;
            height: 260px;
            padding-bottom: 60px;

            & > span {
                font-size: 1.8rem;
            }
        }
    }


    .services {
        & > .service-card-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }
    }

    .blogs {
        & > .blog-card-container {
            & > .knowledge-card {
                & > img {
                    max-height: 500px;
                }
            }
        }
    }
    .links {
        & > .link-cards-container {
            & > .external-link {
                height: 360px;
            }
        }
    }

    .contact {
        & > .contact-form {
            grid-template-columns: 1fr 1fr;
            gap: 16px;

            & > button, & > .hk-text-box:has(input[name="fullName"]), & > .hk-text-box:has(textarea[name="message"]) {
                grid-column: span 2;
            }
        }
    }

    .footer {
        row-gap: 32px;

        & > .socials {
            & .link-icon {
                font-size: 5rem;
            }
        }
    }
}